<h1>Portfolio Items</h1>
<%= link_to "New Portfolio", new_portfolio_path %>
<!-- <a href="/portfolios/new">New port</a> -->
<%= render partial: 'portfolios_item', collection: @portfolios_items %>

----------------------------------------------------------------------------------------------------- </div>
