<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">
			<%= link_to "New Portfolio", new_portfolio_path, class: 'col-md-12' if logged_in?(:site_admin)  %>
			<%= render partial: 'portfolios_item', collection: @portfolios_items %>
		</div>
	</div>
</div>