<nav class="navbar navbar-expand-lg navbar-light bg-dark">
	<div class="container">
		<%= link_to "Pankaj Kumar Singh", root_path, class: "navbar-brand white-color" %>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-color: white;">
			<span class="navbar-toggler-icon"></span>
		</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav">
    		<%= nav_helper('p-2 text-muted nav-link white-color','li') %>
        	<%= login_helper('p-2 text-muted nav-link white-color') %>
    	</ul>
    </div>
	</div>
</nav>
