<section class="jumbotron text-center" style="padding-bottom: 0px;">
   <div class="container">
     <h1 class="jumbotron-heading">My Portfolio</h1>
     <p class="lead text-muted">I'm a ruby developer based in garden city called Bengaluru .... and with an essence of love it is also called as Namma Bengaluru</p>
     <p>
       <a href="/about-me" class="btn btn-primary my-2">Find more about me</a>
       <a href="/blogs" class="btn btn-secondary my-2">My Blog</a>
     </p>
   </div>
</section>