<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>
		<div class="row mt20">
			<div class="col-md-6">
				<%#= image_tag "https://www.airforce-technology.com/wp-content/uploads/sites/4/2017/09/4l-image-21.jpg", width: 300 %>
				<%= image_tag "rafale.jpg", width: '100%' %>
			</div>
			<div class="col-md-6">
				<p>I'm a ruby developer based in garden city called Bengaluru .... and with an essence of love it is also called as  Namma Bengaluru</p>

				<p>
					<button
						class="btn btn-primary"
						type="button"
						data-target="#jobHistory"
						data-toggle="collapse"
						aria-expanded="false"
						aria-controls="jobHistory"

					>
					Job History
					</button>
					<button
						class="btn btn-success"
						type="button"
						data-target="#education"
						data-toggle="collapse"
						aria-expanded="false"
						aria-controls="education"

					>
					Education
					</button>
				</p>
				<p>
					<div id="jobHistory" class="collapse">
						<div class="card card-block">
							Job 1
						</div>
						<div class="card card-block">
							Job 2
						</div>
						<div class="card card-block">
							Job 3
						</div>
					</div>
				</p>
				<p>
					<div id="education" class="collapse">
						<div class="card card-block">
							Education 1
						</div>
						<div class="card card-block">
							Education 2
						</div>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>





